@model EduService.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Course Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Course Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Course Detail</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12">
                                <div class="post">
                                    <div class="user-block">
                                        <span class="username">
                                            <a href="#">
                                                @Html.DisplayNameFor(model => model.CourseName)
                                            </a>
                                        </span>
                                    </div>
                                    <p>
                                        @Html.DisplayFor(model => model.CourseName)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="user-block">
                                        <span class="username">
                                            <a href="#">@Html.DisplayNameFor(model => model.Description)</a>
                                        </span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        @Html.DisplayFor(model => model.Description)
                                    </p>
                                </div>

                                <div>
                                    <table class="table">
                                        <tr>
                                            <th>
                                                <a href="#">@Html.DisplayNameFor(model => model.Programs.First().Subject.Name)</a>
                                            </th>
                                            <th>
                                                <a href="#">@Html.DisplayNameFor(model => model.Programs.First().Subject.Session)</a>
                                            </th>
                                            <th></th>
                                        </tr>
                                        @foreach (var item in Model.Programs)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Subject.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Subject.Session)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Delete", "Delete", "Programs", new { id = item.ProgramId, action = "Details" }, new { onclick = "return confirm('Are sure wants to delete?');" })
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>

                            <a href="#" class="btn btn-sm btn-primary">@Html.ActionLink("Add Subject", "Create", "Programs", new { id = Model.CourseId}, new { @class = "ui-btn-right" })</a>

                        </div>


                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> @Html.DisplayNameFor(model => model.Image)</h3>
                        <img style="width: 126px" src="@Html.DisplayFor(model => model.Image)" />
                        <br>
                        <div class="text-muted">
                            <p class="text-sm">
                                @Html.DisplayNameFor(model => model.Price)
                                <b class="d-block">@Html.DisplayFor(model => model.Price)</b>
                            </p>
                        </div>
                        <div class="text-muted">
                            <p class="text-sm">
                                @Html.DisplayNameFor(model => model.SalePrice)
                                <b class="d-block">@Html.DisplayFor(model => model.SalePrice)</b>
                            </p>
                        </div>

                        <h5 class="mt-5 text-muted">Project files</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                            </li>
                        </ul>
                        <div class="text-center mt-5 mb-3">
                            <a href="#" class="btn btn-sm btn-primary">@Html.ActionLink("Edit", "Edit", new { id = Model.CourseId })</a>
                            <a href="#" class="btn btn-sm btn-warning">@Html.ActionLink("Back to List", "Index")</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
