@model EduService.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.PostTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogPost.PostTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplyToCommentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplyToCommentId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
