@model IEnumerable<EduService.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPost.PostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyToCommentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogPost.PostTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyToCommentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentId })
        </td>
    </tr>
}

</table>
