
@{
    ViewBag.Title = "Blog";
}

<div class="bradcam_area breadcam_bg overlay2" style=" background-image: url(../../Content/img/banner/bg_1.jpg)">
    <h3>Blog</h3>
</div>
<!-- bradcam_area_end -->
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/img/latest_blog/edu.jpg" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Sep</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="@Url.Action("EDKerexcitedly","Blog")">
                                <h2>EDKer excitedly took part in the Soft Skills lesson about a positive attitude!</h2>
                            </a>
                            <p>Participating in the K18 Rookie Soft Skills training are Anh Nguyen Minh Thang & Anh Pham Minh Cuong - Youth Power Training Club, with extremely useful content!</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/img/blog/single_blog_2.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Sep</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="@Url.Action("EDKstudents","Blog")">
                                <h2>EDK students improve their CV writing skills and job interviews for job opportunities</h2>
                            </a>
                            <p>Writing CV and answering interviews are two very important skills that all candidates need to pay attention to in the job search process.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/img/blog/single_blog_3.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Sep</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="@Url.Action("EDKerisready","Blog")">
                                <h2>EDKers is ready to enjoy an extremely Chill summer with the IT Summer 2020 camp</h2>
                            </a>
                            <p>Technology Summer Camp is a playground for Edumark New Students.A place to help you learn, make friends and develop the skills you need before entering the new school year!.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/img/blog/single_blog_4.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Sep</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="@Url.Action("Learningtocode","Blog")">
                                <h2>What is the simplest understanding of "what is learning to code" for tech-loving young people</h2>
                            </a>
                            <p>When you say you want to be a programmer, do you really understand what learning to code is? Let's analyze and approach this term in the simplest way!</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/img/blog/single_blog_5.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Sep</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="@Url.Action("Learningtocode","Blog")">
                                <h2>Not university, which IT training model is being appreciated by businesses?</h2>
                            </a>
                            <p>Many students still believe that having a university degree with thousands of dollars in debt is the only way to set foot in the giants of technology like Apple, Google or Netflix.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>


                </div>
            </div>

        </div>
    </div>
</section>
<!--================Blog Area =================-->
