@model EduService.Models.Class

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Class Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Class Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Class Detail</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12">

                                <div class="post">
                                    <div class="user-block">
                                        <span class="username">
                                            <a href="#">
                                                @Html.DisplayNameFor(model => model.Course.CourseName)
                                            </a>
                                        </span>
                                    </div>
                                    <p>
                                        @Html.DisplayFor(model => model.Course.CourseName)
                                    </p>
                                </div>

                                <div class="post clearfix">
                                    <div class="user-block">
                                        <span class="username">
                                            <a href="#">@Html.DisplayNameFor(model => model.Lecturer.Faculty)</a>
                                        </span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        @Html.DisplayFor(model => model.Lecturer.Faculty)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="user-block">
                                        <span class="username">
                                            <a href="#">@Html.DisplayNameFor(model => model.ClassName)</a>
                                        </span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        @Html.DisplayFor(model => model.ClassName)
                                    </p>
                                </div>
                                <div>
                                    <table class="table">
                                        <tr>
                                            <th>
                                                <a href="#">@Html.DisplayNameFor(model => model.Students.First().StudentId)</a>
                                            </th>
                                            <th>
                                                <a href="#">@Html.DisplayNameFor(model => model.Students.First().Account.FullName)</a>
                                            </th>
                                            <th>
                                                <a href="#">@Html.DisplayNameFor(model => model.Students.First().Scores)</a>
                                            </th>
                                            <th></th>
                                        </tr>
                                        @foreach (var item in Model.Students)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StudentId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Account.FullName)
                                                </td>
                                                <td>
                                                    @{
                                                        float total = 0;
                                                        foreach (var s in item.Scores)
                                                        {
                                                            total += s.Value;
                                                        }
                                                        total /= item.Scores.Count();
                                                    }@total
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Delete", "Delete", "Programs", new { id = item.StudentId, action = "Details" }, new { onclick = "return confirm('Are sure wants to delete?');" })
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <div class="text-muted">
                            <p class="text-sm">
                                @Html.DisplayNameFor(model => model.StartTime)
                                <b class="d-block">@Html.DisplayFor(model => model.StartTime)</b>
                            </p>
                        </div>
                        <div class="text-muted">
                            <p class="text-sm">
                                @Html.DisplayNameFor(model => model.EndTime)
                                <b class="d-block">@Html.DisplayFor(model => model.EndTime)</b>
                            </p>
                        </div>


                        <h5 class="mt-5 text-muted">Project files</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                            </li>
                        </ul>
                        <div class="text-center mt-5 mb-3">
                            <a href="#" class="btn btn-sm btn-primary">@Html.ActionLink("Edit", "Edit", new { id = Model.ClassId })</a>
                            <a href="#" class="btn btn-sm btn-warning">@Html.ActionLink("Back to List", "Index")</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
